@import url("https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Expanded&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Titillium+Web");
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Encode Sans Semi Expanded", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f1efef;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebar {
  padding-top: 10px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 200px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  -webkit-box-shadow: 21px 0px 16px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 21px 0px 16px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 21px 0px 16px -22px rgba(0, 0, 0, 0.75);
}

.logo {
  padding: 10px;
  padding-bottom: 50px;
}

.logo>img {
  height: 80px;
  width: 150px;
  padding: 7px;
}

.logo img:nth-child(2) {
  height: 50px;
  width: 150px;
}

.logo img:nth-child(3) {
  height: 80px;
  width: 150px;
}

.menuContainer {
  position: relative;
  padding: 20px;
  text-align: center;
  /* border-top: 1px solid rgba(0, 0, 0, 0.164);
  border-bottom: 1px solid rgba(0, 0, 0, 0.164); */
  transition-duration: 0.5s;
}

.sidecontent {
  padding: 7px;
  position: absolute;
  z-index: 1;
  left: 200px;
  top: 0;
  width: 150px;
  background-color: #009e7f;
  color: white;
  display: none;
  border-radius: 2px;
  transition-duration: 0.5s;
  -webkit-box-shadow: 28px 2px 20px -17px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 28px 2px 20px -17px rgba(0, 0, 0, 0.33);
  box-shadow: 28px 2px 20px -17px rgba(0, 0, 0, 0.33);
}

.smitem {
  font-size: 20px;
  padding: 10px;
  transition-duration: 0.2s;
}

.smitem:hover {
  transform: scale(1.2);
}

.sideMenuExtra {
  display: flex;
  flex-direction: row;
}

.sideMenuLink {
  display: flex;
  flex-direction: row;
}

.sideMenuExtra>div>i {
  color: #009e7f;
  font-size: 22px;
  padding-right: 17px;
}

.sideMenuLink>div>i {
  color: #009e7f;
  font-size: 22px;
  padding-right: 17px;
}

.menuContainer>div>p {
  font-size: 15px;
}

.menuContainer:hover {
  z-index: 1;
  background-color: #009e7f;
  color: white;
  cursor: pointer;
}

.menuContainer:hover .sideMenuExtra>i {
  color: white;
  transition-duration: 0.5s;
}

.menuContainer:hover i {
  color: white;
  transition-duration: 0.5s;
}

.menuContainer:hover .sidecontent {
  display: block;
  transition-duration: 0.5s;
}

/*--slider--*/

.landing {
  margin-left: 200px;
  -webkit-box-shadow: -2px 16px 15px -4px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: -2px 16px 15px -4px rgba(0, 0, 0, 0.26);
  box-shadow: -2px 16px 15px -4px rgba(0, 0, 0, 0.26);
}

#slider {
  width: 100%;
  height: 90vh;
  position: relative;
  overflow: hidden;
  background-color: #ecfaf2;
}

@keyframes load {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.slides {
  width: 400%;
  height: 100%;
  background-color: rgb(248, 244, 244);
  position: relative;
  -webkit-animation: slide 30s infinite;
  -moz-animation: slide 30s infinite;
  animation: slide 30s infinite;
}

.slider {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
  height: 100%;
}

/* Switch */

.switch {
  width: 120px;
  height: 10px;
  position: absolute;
  bottom: 50px;
  z-index: 99;
  left: 49%;
}

.switch>ul {
  list-style: none;
}

.switch>ul>li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}

.switch ul {
  overflow: hidden;
}

.on {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #009e7f;
  position: relative;
  -webkit-animation: on 30s infinite;
  -moz-animation: on 30s infinite;
  animation: on 30s infinite;
}

/* Animation */

@-webkit-keyframes slide {
  0%, 100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}

@-moz-keyframes slide {
  0%, 100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}

@keyframes slide {
  0%, 100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}

@-webkit-keyframes on {
  0%, 100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

@-moz-keyframes on {
  0%, 100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

@keyframes on {
  0%, 100% {
    margin-left: 0%;
  }
  21% {
    margin-left: 0%;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

/*--Main--*/

.main {
  margin-left: 200px;
  min-height: 100vh;
}

.nav2 {
  box-shadow: 0 8px 6px -9px black;
  /* position: sticky; */
  top: 0;
  z-index: 1;
  padding: 7px;
  background-color: #009e7f;
  text-align: center;
  display: flex;
}

.heading {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  padding: 10px 35px;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
}

.head-cont {
  border-right: 1px solid rgb(8, 8, 8);
}

hr {
  margin: 0.75% 25%;
  width: 50%;
}

.products {
  text-align: center;
  margin-left: 50px;
}

.products>button {
  border: none;
  background: transparent;
  font-size: 20px;
  padding: 5px 10px 5px 10px;
  margin: 15px 1px 10px 45px;
  outline: none;
  font-family: "Titillium Web", sans-serif;
  transition-duration: 1s;
  color: white;
}

.products>button:hover {
  color: #009e7f;
  background-color: #ffffff;
  border-radius: 7px;
  /* width: 20%; */
  /* transform: scale(1.2); */
  transition-duration: 0.5s;
  cursor: pointer;
}

.normal-cookie {
  margin-top: 50px;
  margin-left: 60px;
}

.premium-cookie {
  /* margin-top: 10px; */
  padding-top: 20px;
  margin-left: 60px;
}

.gift-pack {
  margin-top: 10px;
  margin-left: 60px;
}

.display-main {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.display-home {
  margin: 50px 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  flex: 45%;
  align-items: center;
  padding: 10px;
  min-width: 350px;
}

.col img {
  width: 100%;
  /* padding: 10px; */
}

.img-cont {
  background: transparent;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.img-cont>img {
  transition-duration: .3s;
}

.overcast {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition-duration: .5s;
}

.home-img-text {
  background-color: #018a6e;
  padding: 14px;
  letter-spacing: 1px;
  text-align: center;
  color: white;
  font-size: 20px;
  border: 2px solid #018a6e;
  border-radius: 7px;
}

.home-img-text:hover {
  background-color: #ffffff;
  color: #009e7f;
}

.img-cont:hover>img {
  filter: blur(5px);
  z-index: -1;
}

.img-cont:hover>.overcast {
  display: flex;
  background: #0707078c;
  animation: appear .3s ease-in;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.normal-biscuit {
  margin-top: 80px;
  margin-left: 60px;
}

.premium-title {
  color: #ffffff;
  position: relative;
  transition-duration: 0.5s;
  padding: 7px 20px;
  text-align: center;
  font-size: 23px;
  width: 400px;
  border: none;
  font-family: "Titillium Web", sans-serif;
  border-radius: 5px;
  outline: none;
  transition-duration: all 0.5s;
  background-color: #009e7f;
  border: 2px solid #009e7f;
  box-sizing: border-box;
}

.premium-title span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.premium-title>span>i {
  color: #ffdd1b;
  font-size: 26px;
}

.title-center {
  display: flex;
  justify-content: center;
}

.gift-title {
  color: #ffffff;
  position: relative;
  transition-duration: 0.5s;
  padding: 7px 20px;
  text-align: center;
  font-size: 23px;
  width: 400px;
  border: none;
  font-family: "Titillium Web", sans-serif;
  border-radius: 5px;
  outline: none;
  transition-duration: all 0.5s;
  background-color: #009e7f;
  border: 2px solid #009e7f;
  box-sizing: border-box;
}

.gift-title span {
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.gift-title>span>i {
  color: #ff0000;
  font-size: 26px;
}

/* .premium-button span::after {
  content: "   \00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.premium-button:hover span::after {
  opacity: 1;
  right: 0;
}

.premium-button:hover {
  background-color: #ffffff;
  color: #009e7f;
}

.premium-button:hover span {
  padding-right: 25px;
} */

/*--display--*/

.disp-segment {
  margin-right: 10px;
  margin-bottom: 40px;
  display: flex;
  position: relative;
}

.disp-container {
  margin-left: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 400px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.100);
  -moz-box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.100);
  box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.100);
}

.disp-desc {
  padding: 10px;
  font-weight: bold;
  color: #070707;
  font-size: 17px;
  font-family: "Titillium Web", sans-serif;
}

.disp-desc>p {
  padding: 2px;
}

.disp-img-sec {
  padding: 10px;
  text-align: center;
  height: 260px;
  position: relative;
}

.disp-desc-sub {
  color: #333;
  font-weight: normal;
  font-size: 12px;
  margin-left: 10px;
}

.name-sec {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.info-icon {
  display: flex;
  background-color: #009e7f;
  width: 24px;
  height: 24px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 15px;
  border-radius: 2px;
  transition-duration: 0.5s;
  border: 1px solid #009e7f;
}

.info-icon:hover {
  cursor: pointer;
  background-color: #ffffff;
  color: #009e7f;
}

.detail-box {
  display: none;
  background-color: #ffffff;
  width: 250px;
  height: 300px;
  position: absolute;
  top: 0;
  z-index: 2;
  left: 250px;
  -webkit-box-shadow: 0px 0px 5px -1px #009e7f;
  -moz-box-shadow: 0px 0px 5px -1px #009e7f;
  box-shadow: 0px 0px 5px -1px #009e7f;
}

.info-icon:hover .detail-box {
  display: block;
  transition: ease-in-out;
  transition-duration: 0.5s;
}

.next-button {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 0;
  border: none;
  padding: 10px;
  font-size: 15px;
  background-color: #009e7f;
  color: #ffffff;
  transition-duration: .5s;
  cursor: pointer;
  border-radius: 2px;
}

.next-button:hover {
  color: #009e7f;
  background-color: #ffffff;
}

/*detail box*/ 

.detail-head {
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 18px;
  text-align: center;
  background-color: #009e7f;
  border-bottom: 2px solid #009e7f;
}
.detail-body>p {
  padding: 5px;
  color: rgb(65, 65, 65);
  font-size: 11px;
}
.calorie {
  padding: 10px;
  background-color: #009e7f;
  color: white;
  text-align: center;
}

.nutrition {
  padding: 20px 10px 10px 10px;
  display: flex;
  color:#333;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.nutri-name p, .nutri-value p {
  padding: 4px;
}

/* about us */

.about-top {
  font-family: 'Playfair Display', serif;
  height: 100px;
  font-size: 50px;
  background-color: #018a6e;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
}

.about-main {
  background-color: #ffffff;
  font-family: 'Playfair Display', serif;
  padding: 50px 250px 50px 150px;
}

.about-main>h2 {
  color: #018a6e;
  text-align: center;
  font-size: 2em;
  letter-spacing: 1.5px;
  padding: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #009e7f;
}

.about-main>img {
  float: left;
  margin: 0px 15px 15px 0px;
}

.about-main p {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 21px;
  line-height: 1.25em;
  padding-bottom: 30px;
}

.about-main p>first {
  float: left;
  font-family: 'Playfair Display', serif;
  font-size: 300%;
  width: .7em;
  line-height: 80%;
  color: #009e7f;
}

.about-main p>i {
  color: black;
  font-weight: 500;
}

.about-main h3 {
  text-align: center;
  font-size: 1.6em;
  font-weight: 500;
}

.weight-500 {
  color: black;
  font-size: 21px;
  font-weight: 500;
}

/* footer */

.footer {
  margin-left: 200px;
  min-height: 400px;
  color: #ffffff;
  /* padding: 20px; */
  background-color: #018a6e;
  border-radius: 2000px 2000px 0px 0px/80px 80px 0px 0px;
}

.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brand-head {
  font-size: 28px;
  letter-spacing: 1px;
  padding: 20px 20px 5px 20px;
  border-bottom: 1px solid white;
}

.brand-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  flex-wrap: wrap;
}

.brand-logo>img {
  margin: 15px 50px 0px 50px;
}

.contact {
  margin: 30px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-head {
  font-size: 25px;
  letter-spacing: 1px;
  padding: 0px 20px 5px 20px;
  border-bottom: 1px solid white;
}
.contact-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.contact-body div {
  padding: 20px 2vh 20px 2vh;
  font-size: 20px;
}
.contact-body div>a>i{
  font-size: 28px;
  padding: 7px;
  /* color: #cd011e; */
}
.contact-body div>i{
  font-size: 28px;
  padding: 7px;
  color: #5deccf;
}
.copyright {
  padding: 1em;
  text-align: center;
  background-color: #004c3d;
}